# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
UserSettings/

# Builds
[Bb]uild/
[Bb]uilds/

# IDEs
.idea/
.vscode/
.vs/

# Unity/VS generated project files
*.csproj
*.sln
*.slnx
*.unityproj
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

# OS
.DS_Store
Thumbs.db

# Crash reports
sysinfo.txt